<p>Bonjour {{ user.username }},</p>

<p>
    Pour confirmer votre email cliquez sur le lien suivant : <br><br>
    <a href="{{ url('app_verify', {username : user.username , token: user.token}) }}">Confirmer mon email</a>
</p>

<p>
    A bientôt sur SnowTricks !
</p>
