{% extends 'base.html.twig' %}

{% block title %}Password forgot{% endblock %}

{% block content %}
    <div class="container center">
        <h1>Password forgot</h1>
        {{ form_start(newPasswordForm, {'attr': {'class': 'row'}}) }}
        <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
            {{ form_widget(newPasswordForm.plainPassword, {'attr': {'placeholder': 'New password'}}) }}
            <span class="error">{{ form_errors(newPasswordForm.plainPassword) }}</span>
        </div>
        <div class="input-field col s12">
            <input type="submit" name="" class="btn btn-primary" value="Update password">
        </div>
        {{ form_end(newPasswordForm) }}
    </div>
{% endblock %}
