<h1>Hi {{ user.username }}</h1>

<p>
    Please choose a new password by clicking the following link: <br><br>
    <a href="{{ url('app_new_password', {username : user.username , token: user.token}) }}">Choose a new Password</a>.
</p>

<p>
    See you soon on Snow Tricks !
</p>
