<p>Bonjour {{ user.username }},</p>

<p>
    Cliquez sur le lien ci-dessous pour choisir un nouveau mot de passe : <br><br>
    <a href="{{ url('app_new_password', {username : user.username , token: user.token}) }}">Choisir un nouveau mot de passe</a>.
</p>

<p>
    A bientôt sur SnowTricks !
</p>
